@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-body text-black bg-white;
    line-height: 1.6;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    font-variant: normal; /* Prevents small-caps */
    text-transform: none; /* Ensures normal case */
  }

   h1 {
    @apply text-heading;
  }
  
  h2, h3 {
    @apply text-subheading;
  }
  :root {
    color-scheme: light;
    --text-color: #000000;
    --bg-color: #ffffff;
  }
   body {
    color: var(--text-color);
    background-color: var(--bg-color);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: #000000;
      --bg-color: #ffffff;
    }
  }
}